<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.box.db.mapper.ClxHelpPropertymgtMapper">
  <!-- 插入 -->
  <insert id="insert" parameterType="ClxHelpPropertymgt" useGeneratedKeys="true" keyProperty="propertymgtId" >
    INSERT INTO
      CLX_HELP_PROPERTYMGT
    (
      enterway_groupcode,
      propertymgt_notice,
      propertymgt_cooperation,
      create_time,
      create_user,
      update_time,
      update_user,
      delete_flag
    ) VALUES (
      #{enterwayGroupcode},
      #{propertymgtNotice},
      #{propertymgtCooperation},
      #{createTime},
      #{createUser},
      #{updateTime},
      #{updateUser},
      #{deleteFlag}
    )
  </insert>
  <!-- 删除通过主键 -->
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    DELETE
    FROM
      CLX_HELP_PROPERTYMGT
    WHERE
      propertymgt_id = #{propertymgtId}
  </delete>
  <!-- 单件更新通过主键(部分更新) -->
  <update id="updateByPrimaryKey" parameterType="com.zebra.box.db.model.ClxHelpPropertymgt" >
    UPDATE
      CLX_HELP_PROPERTYMGT
    <set>
      <if test="propertymgtId != null">
        propertymgt_id = #{propertymgtId},
      </if>
      <if test="enterwayGroupcode != null">
        enterway_groupcode = #{enterwayGroupcode},
      </if>
      <if test="propertymgtNotice != null">
        propertymgt_notice = #{propertymgtNotice},
      </if>
      <if test="propertymgtCooperation != null">
        propertymgt_cooperation = #{propertymgtCooperation},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="createUser != null">
        create_user = #{createUser},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag},
      </if>
    </set>
    WHERE
      propertymgt_id = #{propertymgtId}
  </update>
  <!-- 单件更新通过主键(全更新) -->
  <update id="updateAllByPrimaryKey" parameterType="com.zebra.box.db.model.ClxHelpPropertymgt" >
    UPDATE
      CLX_HELP_PROPERTYMGT
    SET
      propertymgt_id = #{propertymgtId},
      enterway_groupcode = #{enterwayGroupcode},
      propertymgt_notice = #{propertymgtNotice},
      propertymgt_cooperation = #{propertymgtCooperation},
      create_time = #{createTime},
      create_user = #{createUser},
      update_time = #{updateTime},
      update_user = #{updateUser},
      delete_flag = #{deleteFlag}
    WHERE
      propertymgt_id = #{propertymgtId}
  </update>
  <!-- 单件检索通过主键 -->
  <select id="selectOneByPrimaryKey" parameterType="Integer" resultType="com.zebra.box.db.model.ClxHelpPropertymgt" >
    SELECT
      propertymgt_id AS propertymgtId,
      enterway_groupcode AS enterwayGroupcode,
      propertymgt_notice AS propertymgtNotice,
      propertymgt_cooperation AS propertymgtCooperation,
      create_time AS createTime,
      create_user AS createUser,
      update_time AS updateTime,
      update_user AS updateUser,
      delete_flag AS deleteFlag
    FROM
      CLX_HELP_PROPERTYMGT
    WHERE
      propertymgt_id = #{propertymgtId}
  </select>
  <!-- 检索列表 -->
  <select id="selectList" parameterType="com.zebra.box.db.model.ClxHelpPropertymgt" resultType="com.zebra.box.db.model.ClxHelpPropertymgt" >
    SELECT
      propertymgt_id AS propertymgtId,
      enterway_groupcode AS enterwayGroupcode,
      propertymgt_notice AS propertymgtNotice,
      propertymgt_cooperation AS propertymgtCooperation,
      create_time AS createTime,
      create_user AS createUser,
      update_time AS updateTime,
      update_user AS updateUser,
      delete_flag AS deleteFlag
    FROM
      CLX_HELP_PROPERTYMGT
    WHERE
      1 = 1
      <if test="propertymgtId != null">
        AND propertymgt_id = #{propertymgtId}
      </if>
      <if test="enterwayGroupcode != null">
        AND enterway_groupcode = #{enterwayGroupcode}
      </if>
      <if test="propertymgtNotice != null">
        AND propertymgt_notice = #{propertymgtNotice}
      </if>
      <if test="propertymgtCooperation != null">
        AND propertymgt_cooperation = #{propertymgtCooperation}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime}
      </if>
      <if test="createUser != null">
        AND create_user = #{createUser}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag}
      </if>
  </select>
  <!-- 检索件数 -->
  <select id="selectCount" parameterType="com.zebra.box.db.model.ClxHelpPropertymgt" resultType="int" >
    SELECT
      COUNT(0)
    FROM
      CLX_HELP_PROPERTYMGT
    WHERE
      1 = 1
      <if test="propertymgtId != null">
        AND propertymgt_id = #{propertymgtId}
      </if>
      <if test="enterwayGroupcode != null">
        AND enterway_groupcode = #{enterwayGroupcode}
      </if>
      <if test="propertymgtNotice != null">
        AND propertymgt_notice = #{propertymgtNotice}
      </if>
      <if test="propertymgtCooperation != null">
        AND propertymgt_cooperation = #{propertymgtCooperation}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime}
      </if>
      <if test="createUser != null">
        AND create_user = #{createUser}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag}
      </if>
  </select>
</mapper>