<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebra.box.db.mapper.ClxMapRegionMapper">
  <!-- 插入 -->
  <insert id="insert" parameterType="ClxMapRegion" useGeneratedKeys="true" keyProperty="regionId" >
    INSERT INTO
      CLX_MAP_REGION
    (
      region_code,
      region_name,
      city_code,
      create_time,
      create_user,
      update_time,
      update_user,
      delete_flag
    ) VALUES (
      #{regionCode},
      #{regionName},
      #{cityCode},
      #{createTime},
      #{createUser},
      #{updateTime},
      #{updateUser},
      #{deleteFlag}
    )
  </insert>
  <!-- 删除通过主键 -->
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    DELETE
    FROM
      CLX_MAP_REGION
    WHERE
      region_id = #{regionId}
  </delete>
  <!-- 单件更新通过主键(部分更新) -->
  <update id="updateByPrimaryKey" parameterType="com.zebra.box.db.model.ClxMapRegion" >
    UPDATE
      CLX_MAP_REGION
    <set>
      <if test="regionId != null">
        region_id = #{regionId},
      </if>
      <if test="regionCode != null">
        region_code = #{regionCode},
      </if>
      <if test="regionName != null">
        region_name = #{regionName},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="createUser != null">
        create_user = #{createUser},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag},
      </if>
    </set>
    WHERE
      region_id = #{regionId}
  </update>
  <!-- 单件更新通过主键(全更新) -->
  <update id="updateAllByPrimaryKey" parameterType="com.zebra.box.db.model.ClxMapRegion" >
    UPDATE
      CLX_MAP_REGION
    SET
      region_id = #{regionId},
      region_code = #{regionCode},
      region_name = #{regionName},
      city_code = #{cityCode},
      create_time = #{createTime},
      create_user = #{createUser},
      update_time = #{updateTime},
      update_user = #{updateUser},
      delete_flag = #{deleteFlag}
    WHERE
      region_id = #{regionId}
  </update>
  <!-- 单件检索通过主键 -->
  <select id="selectOneByPrimaryKey" parameterType="Integer" resultType="com.zebra.box.db.model.ClxMapRegion" >
    SELECT
      region_id AS regionId,
      region_code AS regionCode,
      region_name AS regionName,
      city_code AS cityCode,
      create_time AS createTime,
      create_user AS createUser,
      update_time AS updateTime,
      update_user AS updateUser,
      delete_flag AS deleteFlag
    FROM
      CLX_MAP_REGION
    WHERE
      region_id = #{regionId}
  </select>
  <!-- 检索列表 -->
  <select id="selectList" parameterType="com.zebra.box.db.model.ClxMapRegion" resultType="com.zebra.box.db.model.ClxMapRegion" >
    SELECT
      region_id AS regionId,
      region_code AS regionCode,
      region_name AS regionName,
      city_code AS cityCode,
      create_time AS createTime,
      create_user AS createUser,
      update_time AS updateTime,
      update_user AS updateUser,
      delete_flag AS deleteFlag
    FROM
      CLX_MAP_REGION
    WHERE
      1 = 1
      <if test="regionId != null">
        AND region_id = #{regionId}
      </if>
      <if test="regionCode != null">
        AND region_code = #{regionCode}
      </if>
      <if test="regionName != null">
        AND region_name = #{regionName}
      </if>
      <if test="cityCode != null">
        AND city_code = #{cityCode}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime}
      </if>
      <if test="createUser != null">
        AND create_user = #{createUser}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag}
      </if>
  </select>
  <!-- 检索件数 -->
  <select id="selectCount" parameterType="com.zebra.box.db.model.ClxMapRegion" resultType="int" >
    SELECT
      COUNT(0)
    FROM
      CLX_MAP_REGION
    WHERE
      1 = 1
      <if test="regionId != null">
        AND region_id = #{regionId}
      </if>
      <if test="regionCode != null">
        AND region_code = #{regionCode}
      </if>
      <if test="regionName != null">
        AND region_name = #{regionName}
      </if>
      <if test="cityCode != null">
        AND city_code = #{cityCode}
      </if>
      <if test="createTime != null">
        AND create_time = #{createTime}
      </if>
      <if test="createUser != null">
        AND create_user = #{createUser}
      </if>
      <if test="updateTime != null">
        AND update_time = #{updateTime}
      </if>
      <if test="updateUser != null">
        AND update_user = #{updateUser}
      </if>
      <if test="deleteFlag != null">
        AND delete_flag = #{deleteFlag}
      </if>
  </select>
</mapper>